/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    background-image: url(../img/VRChat_2023-05-14_00-19-27.362_1920x1080\ \(1\)\ \(1\).jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the body takes at least the full height of the screen */
}

/* Navigation */
nav {
    background-color: #333;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.hamburger span {
    width: 100%;
    height: 3px;
    background-color: white;
}

/* About Section */
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    flex: 1; /* Ensure content takes the remaining space */
}

.about-box {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    background: white;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.about-content {
    display: flex;
    align-items: center;
}

.about-image {
    flex: 1;
    padding-right: 20px;
}

.about-image img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
}

.about-text {
    flex: 2;
}

.about-text h1 {
    color: #333;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 18px;
    line-height: 1.6;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer .social-links {
    margin-top: 10px;
    display: flex;
    justify-content: center; 
}

footer .footer-social-links a {
    font-size: 40px;
    color: white;
    margin: 0 15px;
    transition: color 0.3s ease;
}

footer .social-links a:hover {
    color: #007BFF;
}



/* Responsive Design */
@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        padding: 30px;
    }

    .about-box {
        flex-direction: column;
    }

    .about-image {
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .about-text h1 {
        font-size: 24px;
    }

    .about-text p {
        font-size: 16px;
    }

    .hamburger {
        display: flex;
    }

    nav ul {
        display: none;
        flex-direction: column;
        background-color: #333;
        padding: 15px 0;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        text-align: center;
    }

    nav ul li {
        margin: 15px 0;
    }

    nav ul.active {
        display: flex;
    }
}
